@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>O guaxinim, por vezes chamado rato-lavadeiro é um mamífero da família dos procionídeos bastante parecido com o Procyon cancrivorus. Estes animais são encontrados nas Américas e são conhecidos também pelo nome estadunidense raccoon.</p>
